.ipynb_checkpoints
*.ipynb_checkpoints

__pycache__

data/brain
data/images
data/MRI/
data/PAI/
data/Convallaria/

*._*
*DS_Store

dn_checkpoint/Convallaria/PixelHDN
dn_checkpoint/Convallaria/imgs/
dn_checkpoint/MRI/HDN/natural/imgs/
dn_checkpoint/MRI/HDN/natural/HDN
dn_checkpoint/MRI/HDN/structured/imgs/
dn_checkpoint/MRI/HDN/structured/HDN
dn_checkpoint/MRI/PixelHDN/imgs/
dn_checkpoint/MRI/PixelHDN/HDN
dn_checkpoint/PAI/HDN/natural/imgs/
dn_checkpoint/PAI/HDN/natural/HDN
dn_checkpoint/PAI/HDN/structured/imgs/
dn_checkpoint/PAI/HDN/structured/HDN
dn_checkpoint/PAI/PixelHDN/imgs/
dn_checkpoint/PAI/PixelHDN/HDN

final_params.ckpt

jobs

nm_checkpoint/Convallaria/
nm_checkpoint/MRI/
nm_checkpoint/PAI/

results/Convallaria/
results/MRI/
results/PAI/

*.net
*.ckpt
*.png
*.npz
*.npy
*.tif*
*.hdf5
*.h5
*.zip
*.tar
*.db
*.out
*.stats
*.txt
*.tfevents.*
config.json

/.project